<div class="main-container-index">
    <div class="form-container">
        <h1>Enter OIB to see ticket info!</h1>
        <form action="/sqlinjection" class="form" method="POST" onsubmit="showNoTicketsMessage();">
            <label class="form-labels" for="agreeTerms" id="checkbox-text">
                <input type="checkbox" id="agreeTerms-sql" name="agreeTerms">
                Disable vulnerability
            </label><br><br>
            <label class="form-labels" for="OIB">OIB:</label><br>
            <input class="input-labels" type="text" id="oib" name="oib" required><br>
            <input type="submit" value="See info" class="button-54" id="create-button">
        </form>

        <% if (tickets && tickets.length > 0) { %>
            <% tickets.forEach(function(t) { %>
                <div class="numbering-items">
                    <p class="item">First name: <%= t.firstName %></p>
                    <p class="item">Last name: <%= t.lastName %></p>
                </div>
            <% }) %>
        <% } else { %>
            <p id="noTicketsMessage" class="hidden">No tickets found.</p>
        <% } %>
    </div>
</div>

<script>
    document.getElementById("agreeTerms-sql").addEventListener("change", function() {
        localStorage.setItem("agreeTermsChecked-sql", this.checked);
    });

    window.onload = function() {
        const checkbox = document.getElementById("agreeTerms-sql");
        const isChecked = localStorage.getItem("agreeTermsChecked-sql") === "true";
        checkbox.checked = isChecked;
    };

    function showNoTicketsMessage() {
        const noTicketsMessage = document.getElementById("noTicketsMessage");
        if (noTicketsMessage) {
            noTicketsMessage.classList.remove("hidden");
        }
    }
</script>

