<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker playground</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body">
    <div class="heading-container">
        <h1 id="heading">Hacker playground</h1>
    </div>
    <div class="navigation">
        <div class="navigation-buttons">
            <a href="/"><button class="button-54">Home</button></a>
            <a href="/sqlinjection"><button class="button-54">SQL Injection</button></a>
            <a href="/"><button class="button-54">Broken authentication</button></a>
        </div>
    </div>
    <%- body %>
</body>
</html>
